# Análise Exploratória dos dados do Enem de 2019 dos alunos residentes em MG

**1 - Importa as bibliotecas necessárias para rodar esse notebook.**

In [2]:
import pandas as pd
import numpy as np
import os

**2 - Carrega o arquivo com os dados filtrados no notebook anterior.**

In [3]:
%%time
folder_enem = 'enem2019'
df_mg = pd.read_csv(f'./{folder_enem}/MICRODADOS_ENEM_2019_MG.csv', sep=';', encoding='utf-8')

Wall time: 19 s

In [4]:
df_mg.head()

,Unnamed: 0,Unnamed: 0.1,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,...,Q023,Q024,Q025,TP_ESTADO_CIVIL_DESC,TP_COR_RACA_DESC,TP_NACIONALIDADE_DESC,TP_ST_CONCLUSAO_DESC,TP_ESCOLA_DESC,TP_ENSINO_DESC,TP_STATUS_REDACAO_DESC
0,0,1044,190001005671,2019,3170206,Uberlândia,31,MG,21,M,...,B,B,B,Solteiro(a),Branca,Brasileiro(a),Já concluí o Ensino Médio,Não Respondeu,NaN,Sem problemas
1,1,5234,190001009861,2019,3111705,Canaã,31,MG,20,M,...,A,A,A,Solteiro(a),Branca,Brasileiro(a),Já concluí o Ensino Médio,Não Respondeu,NaN,NaN
2,2,16995,190001021622,2019,3104007,Araxá,31,MG,24,M,...,A,A,B,Solteiro(a),Preta,Brasileiro(a),Já concluí o Ensino Médio,Não Respondeu,Ensino Regular,NaN
3,3,22008,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,...,A,D,B,Solteiro(a),Branca,Brasileiro(a),Já concluí o Ensino Médio,Não Respondeu,NaN,NaN
4,4,22114,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,...,A,B,A,Solteiro(a),Parda,Brasileiro(a),Já concluí o Ensino Médio,Não Respondeu,Ensino Regular,Sem problemas

In [5]:
df_mg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538896 entries, 0 to 538895
Columns: 145 entries, Unnamed: 0 to TP_STATUS_REDACAO_DESC
dtypes: float64(24), int64(73), object(48)
memory usage: 596.2+ MB

# Perguntas

1 - Qual a média das notas dos homens em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática?

In [12]:
df_mg.loc[
    df_mg.TP_SEXO == 'M',
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    504.149099
NU_NOTA_CH    529.698270
NU_NOTA_LC    532.548474
NU_NOTA_MT    573.423840
dtype: float64

2 - Qual a média das notas das mulheres em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática?

In [13]:
df_mg.loc[
    df_mg.TP_SEXO == 'F',
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    484.670494
NU_NOTA_CH    515.127098
NU_NOTA_LC    530.355239
NU_NOTA_MT    529.527359
dtype: float64

3 - Qual a média das notas dos homens em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática, que moram em Belo Horizonte?

In [16]:
df_mg.loc[
    (df_mg.TP_SEXO == 'M') &
    (df_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte'),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    526.300159
NU_NOTA_CH    558.618509
NU_NOTA_LC    553.261920
NU_NOTA_MT    605.414389
dtype: float64

4 - Qual a média das notas das mulheres em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática, que moram em Belo Horizonte?

In [17]:
df_mg.loc[
    (df_mg.TP_SEXO == 'F') &
    (df_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte'),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    509.226261
NU_NOTA_CH    541.939529
NU_NOTA_LC    549.400139
NU_NOTA_MT    560.018764
dtype: float64

5 - Qual a média das notas dos homens em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática, que moram em Belo Horizonte e cujo a mãe completou pós graduação?

In [18]:
df_mg.loc[
    (df_mg.TP_SEXO == 'M') &
    (df_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') & 
    (df_mg.Q002 == 'G'),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    574.596677
NU_NOTA_CH    603.389047
NU_NOTA_LC    583.760825
NU_NOTA_MT    690.537283
dtype: float64

6 - Qual a média das notas das mulheres em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática, que moram em Belo Horizonte e cujo o pai completou pós graduação?

In [19]:
df_mg.loc[
    (df_mg.TP_SEXO == 'F') &
    (df_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') & 
    (df_mg.Q001 == 'G'),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    574.305477
NU_NOTA_CH    605.977884
NU_NOTA_LC    591.861297
NU_NOTA_MT    672.155785
dtype: float64

7 - Qual a média das notas dos homens em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática, cujo a mãe completou pós graduação e a tem renda familiar entre R\\$ 8.982,01 e R\\$ 9.980,00?

In [22]:
df_mg.loc[
    (df_mg.TP_SEXO == 'M') &
    (df_mg.Q006 == 'M') & 
    (df_mg.Q001 == 'G'),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    564.237354
NU_NOTA_CH    585.628463
NU_NOTA_LC    574.169450
NU_NOTA_MT    670.727237
dtype: float64

8 - Qual a média das notas dos homens em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática, cujo o pai completou pós graduação e a tem renda familiar entre R\\$ 8.982,01 e R\\$ 9.980,00 dos alunos das cidades de Belo Horizonte, Sabará, Betim e Nova Lima?

In [33]:
df_mg.loc[
    (df_mg.TP_SEXO == 'M') &
    (df_mg.Q006 == 'M') & 
    (df_mg.Q001 == 'G') & 
    (df_mg.NO_MUNICIPIO_RESIDENCIA.isin(['Belo Horizonte', 'Sabará', 'Betim', 'Nova Lima'])),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    580.758741
NU_NOTA_CH    609.679605
NU_NOTA_LC    590.807895
NU_NOTA_MT    701.646154
dtype: float64

9 - Qual a média das notas dos homens em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática com mais de 17 anos?

In [46]:
df_mg.loc[
    (df_mg.TP_SEXO == 'M') &
    (df_mg.NU_IDADE > 17),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    502.395157
NU_NOTA_CH    529.062781
NU_NOTA_LC    531.696064
NU_NOTA_MT    568.143453
dtype: float64

10 - Qual a média das notas das mulheres em: Ciências da Natureza, Ciências Humanas, Linguagens e Códigos e Matemática entre 25 e 40 anos?

In [48]:
df_mg.loc[
    (df_mg.TP_SEXO == 'F') &
    (df_mg.NU_IDADE >= 25) &
    (df_mg.NU_IDADE <= 40),
    ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]
].mean()

NU_NOTA_CN    481.107571
NU_NOTA_CH    514.535680
NU_NOTA_LC    527.293831
NU_NOTA_MT    504.355505
dtype: float64

**Final da etapa de análise exploratória.**